/*
    Element
*/
body{
    padding:10px;
}

td{
    width:140px;
    height:140px;
}

/*
    Id
*/
#game{
    width:100%;
    height:100%;
}

#map{
    width:500px;
    height:500px;
    float:left;
}

#board{
    margin:0px;
    padding:0px;
    width:420px;
    height:420px;
}

#allMap{
    margin:5%;
}

#ingredients{
    margin: 2px;
}

/*
    Class
*/
.buttonAbs {
    margin:0px;
    padding:0px;
    width: 40px;
    height: 420px;
    float:left;
}

.buttonOrd {
    margin:0px;
    padding:0px;
    width: 500px;
    height: 40px;
}

.info{
    margin:20px;
    padding: 10px;
    width: inherit;
    background-color:burlywood;
    border-color:brown;
    border-style:groove;
    border-radius:10px;
    border-width:1px;
}

.allMapCell{
    height: 10px;
    width: 10px;
}

.battle{
    margin:20px;
    padding: 10px;
    width: 40%;
    background-color:burlywood;
    border-color:brown;
    border-style:groove;
    border-radius:10px;
    border-width:1px;
}

.modal-body{
    overflow-y: auto;
}

.half-container{
    float: left;
    width: 48%;
    padding: 10px;
    margin: 1%;
}

.container-borderd{
    border-radius: 5%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.item-cell{
    width: 31.5%;
    max-width: 31.5%;
    height: 33%;
    max-height: 33%;
    display: inline-block;
    padding:2px;
    overflow: hidden;
    margin:1px;
    background-color: #fafafa;
    border-radius:15%;
}

.item-img{
    width: 100%;
    height:100%;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 0%;
    float: none;
    z-index: 0;
}

.receipe-item{
    width: 100%;
    max-width: 100%;
    max-height: 20%;
    padding: 2px;
    margin: 1px;
    border-radius: 10%;
}

.receipe-item-img{
    width: 20%;
    background-color: #fafafa;
    border-radius:15%;
}

.receipe-ingredient{
    width: 15%;
    max-width: 15%;
    height: 15%;
    max-height: 15%;
    display: inline-block;
    padding:2px;
    overflow: hidden;
    margin:1px;
    background-color: #fafafa;
    border-radius:15%;
}

.item-action-img{

    width: 33%;
    height: 33%;
    max-width: 33%;
    max-height: 33%;
    position: relative;
    float: left;
    bottom: 0%;
    z-index: 2;
}

.item-number{    
    width: 33%;
    height: 33%;
    max-width: 33%;
    max-height: 33%;
    position: relative;
    float: right;
    bottom: 0%;
    z-index: 2;
    text-align: center;
    vertical-align: center;
}