/* Terrains */

.ocean {
    background-color: blue;
}

.plaine {
    background-color: lawngreen;
}

.foret {
    background-color: forestgreen;
}

.montagne {
    background-color: saddlebrown;
}

.plage {
    background-color: lightgoldenrodyellow;
}

.desolation {
    background-color: lightsalmon;
}

.void {
    background-color: black;
}